$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$navy: rgba(37, 46, 66, 1);
$navy-gray: rgba(79, 85, 101, 1);
$accente: rgba(255, 132, 105, 1);
$accente-hover: rgba(217, 81, 51, 1);
$accente-opacity: rgba(255, 132, 105, 0.2);
$desktop: 1980px;
$mobile: 428px;
